﻿

/***********************************************************************/
/*modfication*/
/***********************************************************************/
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #FFCB05;
    outline: 1px solid #fff;
    border-radius: 30px;
}
/*animation*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #05182d;
}

@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 80s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 60s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 60s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 60s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pos-absluote div{
    width: 100%;
    position: absolute !important
}
.sidebar {
    background: #adafb22b;
}
.theme-red .navbar {
    background-color: rgba(192, 192, 193, .9) !important;
}
body {
    background-color: #1c1512;
}
.card {
    background: #b0afb003;}
input.form-control {
    background-color: inherit;
}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #ffcb05 !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ffcb05 !important;
}
.card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #eee;
}
.form-group label {
    color: #f2dc88;
   
}
.sidebar .menu .list a span {
    margin: 7px 0 7px 12px;
    color: #b0afb0;
    
}
.sidebar .menu .list a span {
    margin: 7px 0 7px 12px;
    color: #747474;}
input.form-control {
    color: #747474;
}
.alert-danger {
    background-color: #b0afb0 !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f90d;
}
.table-hover>tbody>tr:hover {
    background-color: inherit;
}
.card .header {
    color: #fff;
}
.card table {
    color: #ececec;
}
.form-group .form-line:after {
    border-bottom: 2px solid #ffcb05;}
.theme-red .sidebar .menu .list li.active > :first-child i, .theme-red .sidebar .menu .list li.active > :first-child span, .theme-red .sidebar .menu .list li.active a:before, .theme-red .sidebar .menu .list li:hover > a, .theme-red .sidebar .menu .list li:hover > a span, .theme-red .sidebar .menu .list li:focus > a, .theme-red .sidebar .menu .list li:focus > a span, .theme-red .sidebar .menu .ml-menu li:focus a, .theme-red .sidebar .menu .ml-menu li:focus a span, .theme-red .sidebar .menu .ml-menu li:hover a, .theme-red .sidebar .menu .ml-menu li:hover a span {
    color: #ffcb05;
}
a.paginate_button.current {
    background-color: #ffcb05;
  
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.btn-success {
    background-color: #ffcb05 !important;
    transition: all .5s ease-in-out;
}
.dt-buttons a {
    background-color: #b0afb0 !important;
    color: #fff;
}
.btn-default:hover, .dt-buttons .btn-default:active, .dt-buttons .btn-default:focus {
    background-color: #1c1512 !important;
    color: #fff;
}
thead tr {
    background-color: black;
}
.page-loader-wrapper {
    background: #c0c0c1}
.spinner-layer.pl-red {
    border-color: #ffcb05;
}
.dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
    border-bottom: 0;
}
td a {
    color: #ffcb05;
    text-decoration: none;
}
td a:hover {
    color: #ffcb05;
    text-decoration: none;
}
.sidebar .user-info {
    
    background: url(../images/logo.png) no-repeat no-repeat;
    
}
.dropdown-menu > li > a:hover {
    background-color: rgb(52, 47, 45);
    color: #fff;
}
.navbar-brand i{
   
    color: #342f2d;
    cursor: pointer;
    transition: all .4s ease-in-out
}
.navbar-brand i:hover, .navbar-brand i:focus {
    background-color: #fff;
    color: #ffcb05;
    cursor: pointer
}
input[type="search"] {
    padding: 5px;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    padding: 5px;
    cursor: pointer
}
.sidebar .user-info {
  background-image: url(../images/heder-bac.jpg);
    position: relative;
    background-position: center
}
.sidebar .user-info::after {
 position: absolute;
 top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
a.btn.btn-default {
    box-shadow: unset;
    outline: none;
    background-color: #1e1714 !important;
    border: 1px solid #ddd !important;
    margin-left: 5px;
    transition: all .4s ease-in-out
}
a.btn.btn-default:hover{
    background-color: #000 !important
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #443f3d !important;
}

.theme-red .navbar {
    background-color: #ff7675 !important;
}