canvas {
    position: relative;
}
input.knob {
    right: 0;
    left: 0;
    margin: 0 auto !important;
    top: calc(50% - 40px);
    width: 40px !important;
    height: 40px !important;
    transform: none;
}
.cnvs1{
    text-align: center;
}
.cnvs1 label{
    display: block;
    margin: 15px auto;
}