﻿h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 25px;
}

h2 {
    font-size: 20px;
}




code {
    background-color: transparent;
    padding: 0;
}

pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.navbar .navbar-brand {
    position: relative;
    bottom: 8px;
}

    .navbar .navbar-brand p {
        margin-top: -1px;
    }

.syntaxhighlighter .line {
    white-space: nowrap;
}

.syntaxhighlighter textarea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
